* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Smooch Sans", sans-serif;
}

body {
    background: linear-gradient(black, darkred);
}

header {
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 30px;
    color: white;
}



.link-header {
    margin-right: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.7px;
    border-radius: 10px;
    background-color: red;
    cursor: pointer;

}

.link-header::after {
    content: "🥊"
}


.button-header {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    border-radius: 10px;
    background-color: rgb(2, 2, 102);
    color: white;
    width: 120px;
    height: 30px;
    cursor: pointer;
}

.button-header:hover {
    opacity: 0.8;
}

.button-header:active {
    opacity: 0.4;
}

.imagem-luta {
    width: 300px;
    height: 300px;

}

main {
    margin-left: 250px;
}

section {
    display: inline-block;
}

aside {
    display: inline-block;
    margin-top: 70px;
    margin-right: 60px;
    margin-left: 150px;
    margin-bottom: 300px;
}

h1 {
    display: inline-block;
    font-size: 40px;
    letter-spacing: 0.5px;
    color: white;
}

h1::after {
    content: "🥊"
}

p {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.5px;
    width: 550px;
    color: gray;
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 30px;
    color: darksalmon;
}

.button-aside {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    border-radius: 10px;
    background-color: rgb(2, 2, 102);
    color: white;
    width: 120px;
    height: 30px;
    cursor: pointer;
}

.button-aside:hover {
    opacity: 0.8;
}

.button-aside:active {
    opacity: 0.4;
}


.image-zap {

    display: inline-block;
    margin-left: 290px;
}

h2 {
    display: inline-block;
    color: white;
    letter-spacing: 1px;
}



h3 {
    display: inline-block;
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
}


iframe {
    position: sticky;
    right: 1500px;
    bottom: 90px;
}

@media screen and (max-width: 600px) {

    header {
        display: none;
    }

    .imagem-luta {
        width: 180px;
        height: 160px;
        position: relative;
        top: 40px;
        right: 140px;
    }

    h1 {
        position: relative;
        right: 320px;
        bottom: 15px;
        font-size: 30px;
        text-align: center;
        width: 250px;
    }

    .imagem-luva {
        display: none;
    }

    p {
        position: relative;
        right: 320px;
        bottom: 30px;
        font-size: 20px;
        font-weight: 700;
        color: darksalmon;
        width: 250px;
        text-align: center;
    }

    .button-aside {
        position: relative;
        right: 310px;
        bottom: 30px;
        width: 190px;
        height: 40px;
        border-radius: 40px;
        font-size: 30px;
        cursor: pointer;
    }

    .button-aside:hover {
        opacity: 0.8;
    }

    .button-aside:active {
        opacity: 0.4;
    }

    footer {
        display: none;
    }


}