* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Smooch Sans", sans-serif;
}

header {
    margin-top: 40px;
    margin-bottom: 140px;
    margin-left: 30px;
    color: black;
}



.link-header {
    margin-right: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.7px;
    cursor: pointer;

}

.link-header::after {
    content: "🥊"
}


.button-header {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    border-radius: 10px;
    background-color: rgb(2, 2, 102);
    color: white;
    width: 120px;
    height: 30px;
    cursor: pointer;
}

.imagem-luta {
    width: 500px;
    height: 500px;
}

main {
    margin-left: 250px;
}

section {
    display: inline-block;
}

aside {
    display: inline-block;
    margin-top: 70px;
    margin-right: 60px;
    margin-left: 150px;
    margin-bottom: 300px;
}

h1 {
    display: inline-block;
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 0.5px;
}

p {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.5px;
    width: 500px;
    color: gray;
    text-align: justify;
    margin-top: 60px;
    margin-bottom: 50px;
}

.button-aside {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    border-radius: 10px;
    background-color: rgb(2, 2, 102);
    color: white;
    width: 120px;
    height: 30px;
    cursor: pointer;
}

footer {
    margin-left: 30px;
}

.image-zap {
    display: inline-block;
    margin-bottom: -30px;
    margin-left: 600px;

}


h2 {
    margin-right: 30px;
    display: inline-block;
    background-color: green;
    color: white;
    width: 300px;
    height: 40px;
    letter-spacing: 1px;
    font-size: 30px;
    text-align: center;
    font-weight: 700;


}

.img-footer {
    margin-left: 200px;
    margin-bottom: -30px;
}

h3 {
    display: inline-block;
    width: 450px;
    height: 40px;
    letter-spacing: 1px;
    font-size: 30px;
    background-color: grey;
    text-align: center;

}

@media screen and (max-width: 600px) {

    header {
        display: none;
    }

    .imagem-luta {
        width: 300px;
        height: 350px;
        position: relative;
        top: 100px;
        right: 100px;
    }

    h1 {
        position: relative;
        top: 50px;
        right: 370px;
        font-size: 70px;
        text-align: center;
    }

    .imagem-luva {
        display: none;
    }

    p {
        position: relative;
        right: 380px;
        font-size: 36px;
        font-weight: 700;
        color: darkolivegreen;
    }

    .button-aside {
        position: relative;
        right: 250px;
        width: 250px;
        height: 60px;
        border-radius: 40px;
        font-size: 40px;
    }

    footer {
        display: none;
    }


}